<!DOCTYPE html>
<html>
<head>
    <title>Meine Webseite</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="{{ site.baseurl }}/index.html">Startseite</a></li>
                <li><a href="{{ site.baseurl }}/kontakt.html">Kontakt</a></li>
                <li><a href="{{ site.baseurl }}/preise.html">Preise</a></li>
                <li><a href="{{ site.baseurl }}/faecher.html">Fächer</a></li>
                <li><a href="{{ site.baseurl }}/dienstleistungen.html">Dienstleistungen</a></li>
            </ul>
        </nav>
    </header>
    {{ content }}
</body>
</html>

